.nested-fields
  = f.simple_fields_for :init_location, (f.object.init_location || Location.new) do |ff|
    = ff.input :address, placeholder: "Magallanes 989"
  = f.simple_fields_for :end_location, (f.object.end_location || Location.new) do |ff|
    = ff.input :address, placeholder: "Viale Ortigara 6"
  = link_to_remove_association "Remove route", f