%h1 New Journey Form
= render 'shared/errors', object: @journey

= simple_form_for setup_journey(@journey) do |f|
  = f.input :name, placeholder: "Mateo Andres"
  = f.input :leaving_time
  %h3 Routes
  #routes
    = f.simple_fields_for :routes do |route|
      = render 'route_fields', f: route
    .links
      = link_to_add_association 'Add Route', f, :routes
  = f.submit

= link_to "Back", journeys_path