%label
  Name:
  = @journey.name
%br/
%label
  Leaving Time:
  = @journey.leaving_time
%br/

%h5
  Routes
%table.table.table-dark
  %thead
    %tr
      %th{:scope => "col"} Departure
      %th{:scope => "col"} Arrival
      %th{:scope => "col"} Arrival time Aprox.
  %tbody
    %tr
    - @journey.routes.each do |route|
      %td= route.init_location.address
      %td= route.end_location.address
      %td= route.arrival_time

= link_to "Back", journeys_path